body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffae42;
    color: black;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 80px;
    font-size: large;
}

nav img {
    height: 20px;
    width: 20px;
}

nav img:hover {
    transition-duration: 0.3s;
    transform: scale(1.5);
}

nav a:hover {
    font-size: larger;
    transition-duration: 0.3s;
}

nav a {
    transition-duration: 0.3s;
    color: black;
    text-decoration: none;
}

ol {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 80vw;
    margin: 0 auto;
}

ol li {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-width: 24vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

ol li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.301);
}

ol li p {
    margin-left: 2px;
}

ol li h1 {  
    font-size: xx-large;
    color: #ffae42;
    font-weight: 800;
}

ol li img {
    height: 180px;
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ffae42;
    background-color: #fff;
    border-radius: 4px;
    width: 7vw;
}

button {
    background-color: #2a2a2a;
    color: #ffae42;
    border: 1px solid #ffae42;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    width: 10vw;
}

button:hover {
    background-color: #ffae42;
    color: #2a2a2a;
    transition-duration: 0.3s;
}

footer {
    text-align: center;
    padding: 1.5vh;
    background-color: black;
    color: #ffae42;
    margin-top: auto;
}
